.ImageHome{
    min-width:100vw;

}

.SimpleImage{
  margin-top:0;

}
/* For the unselected (inactive) dot */
.dot-nav {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow for inactive dots */
  }
  
  /* For the selected (active) dot */
  .dot-nav.active {
    width: 40px;
    height: 10px;
    background-color: #00b5b8; /* Teal vibrant blue */
    border-radius: 5px;  /* Slightly rounded edges for the rectangle */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow for active dot */
  }